body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* //////////////
   NAVBAR
//////////////*/

.navbar{
    font-family: 'Mulish', sans-serif;
    border-bottom: solid 2px #cabea2;
}

.logo-navbar{
    width: 150px;
    height: 40px;
}

/* //////////////
   Header
//////////////*/

.portada{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Playfair';
    font-weight: 900;
}

.portada-img{
    position: relative;
    width: 100%;
    filter: brightness(0.3);
}

.portada-txt{
    position: absolute;
    width: 80%;
    color: white;
    font-size: 5em;
    letter-spacing: -0.5px;
    text-transform: uppercase;
    animation-name: animar;
    animation-duration: 5s;
    animation-timing-function: ease-out;
    transition: 0.5s;
}

.portada-txt-B{
    position: absolute;
    width: 80%;
    top: 6em;
    color: white;
<<<<<<< HEAD
    font-size: 5em;
    letter-spacing: -0.5px;
    text-transform: uppercase;
=======
    font-size: 3.5rem;
    letter-spacing: -1px;
>>>>>>> test
    animation-name: animar;
    animation-duration: 5s;
    animation-timing-function: ease-out;
    transition: 0.5s;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1.3px;
}

.portada-txt::after{
    content:'';
    display: block;
    width: 0;
    height: 2px;
    background: #cabea2;
    transition: width .5s
}

.portada-txt-B::after{
    content:'';
    display: block;
    width: 0;
    height: 2px;
    background: #cabea2;
    transition: width .5s;
}

.portada-txt-B:hover::after{
    width: 100%;
    transition: width .5s;
}

.portada-txt::after{
    content:'';
    display: block;
    width: 0;
    height: 2px;
    background: #cabea2;
    transition: width .5s
}

.portada-txt:hover::after{
    width: 100%;
    transition: width .5s;
}

@keyframes animar {
    0%   {
        color:#cabea2;
    }
    100% {color: #fafafa;}
}

/* //////////////
   Header - Media Queries
//////////////*/
@media (max-width: 1445px){
    .portada-txt{
        position: absolute;
        width: 80%;
        color: white;
        font-size: 4em;
        letter-spacing: -0.5px;
        text-transform: uppercase;
        animation-name: animar;
        animation-duration: 5s;
        animation-timing-function: ease-out;
        transition: 0.5s;
    }
    
    .portada-txt-B{
        position: absolute;
        width: 80%;
        top: 5.5em;
        color: white;
        font-size: 4em;
        letter-spacing: -0.5px;
        text-transform: uppercase;
        animation-name: animar;
        animation-duration: 5s;
        animation-timing-function: ease-out;
        transition: 0.5s;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1.3px;
    }
}

@media (max-width: 1025px){
    .portada-txt{
        position: absolute;
        width: 80%;
        color: white;
        font-size: 4em;
        letter-spacing: -0.5px;
        text-transform: uppercase;
        animation-name: animar;
        animation-duration: 5s;
        animation-timing-function: ease-out;
        transition: 0.5s;
    }
    
    .portada-txt-B{
        position: absolute;
        width: 80%;
        top: 4em;
        color: white;
        font-size: 4em;
        letter-spacing: -0.5px;
        text-transform: uppercase;
        animation-name: animar;
        animation-duration: 5s;
        animation-timing-function: ease-out;
        transition: 0.5s;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1.3px;
    }
}

@media (max-width: 769px){
    .portada-txt{
        position: absolute;
        width: 90%;
        color: white;
        font-size: 3em;
        letter-spacing: -0.5px;
        text-transform: uppercase;
        animation-name: animar;
        animation-duration: 5s;
        animation-timing-function: ease-out;
        transition: 0.5s;
    }
    
    .portada-txt-B{
        position: absolute;
        width: 80%;
        top: 4em;
        color: white;
        font-size: 3em;
        letter-spacing: -0.5px;
        text-transform: uppercase;
        animation-name: animar;
        animation-duration: 5s;
        animation-timing-function: ease-out;
        transition: 0.5s;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1.3px;
    }
    
}

@media (max-width: 415px){
    .portada-txt{
        position: absolute;
        width: 95%;
        margin-top: 15px;
        color: white;
        font-size: 1.5em;
        letter-spacing: -0.5px;
        text-transform: uppercase;
        animation-name: animar;
        animation-duration: 5s;
        animation-timing-function: ease-out;
        transition: 0.5s;
    }
    
    .portada-txt-B{
        position: absolute;
        width: 80%;
        top: 5.1em;
        color: white;
        font-size: 1.5rem;
        letter-spacing: -0.5px;
        text-transform: uppercase;
        animation-name: animar;
        animation-duration: 5s;
        animation-timing-function: ease-out;
        transition: 0.5s;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 0.7px;
    }
    
}

@media (max-width: 320px){
    .portada-txt{
        position: absolute;
        width: 95%;
        margin-top: 25px;
        color: white;
        font-size: 1rem;
        letter-spacing: -0.5px;
        text-transform: uppercase;
        animation-name: animar;
        animation-duration: 5s;
        animation-timing-function: ease-out;
        transition: 0.5s;
    }
    
    .portada-txt-B{
        position: absolute;
        width: 80%;
        top: 5.3rem;
        color: white;
        font-size: 1rem;
        letter-spacing: -0.5px;
        text-transform: uppercase;
        animation-name: animar;
        animation-duration: 5s;
        animation-timing-function: ease-out;
        transition: 0.5s;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 0.3px;
    }

    .portada{
        margin-top: 20px
    }
    
}

/* //////////////
   Promos-Home
//////////////*/

.promos{
    font-family: 'Mulish', sans-serif;
    margin: 30px 15px 0px 15px;
}

.col-md-3{
     margin: 15px 0px 15px 0px; 
}

.btn{
    background: #cabea2;
}

/* //////////////
   Subtitulo
//////////////*/

.sub-titulo{
    height: 180px;
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sub-titulo-txt{
    color: black;
    font-family: 'Mulish', sans-serif;
    font-size: 2rem;
}

.sub-titulo-icon{
    padding-top: 5px;
    color: black;
    animation-name: iconanimation;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: 5;
}

@keyframes iconanimation {
0%   {
    color:black;
    transform: translateY(0px);
    }
50%   {
    color:#cabea2;  
    transform: translateY(10px);
    }
100% {
    color: black;
    transform: translateY(0);    
    }
}


@media (max-width: 769px) {
    .sub-titulo{
        height: 110px;
    }
    .sub-titulo-txt{
        font-size: 1rem;
    }
}

/* //////////////
   Promos - Page 
//////////////*/

.titular-promos-canale{
    background: no-repeat center/100% url("../img/canale-desktop.png");
    font-family: 'Mulish', sans-serif;
    margin-top: 58px;
    height: 500px;
    padding: 250px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white; 
}

.titular-promos-rime{
    background: no-repeat center/100% url("../img/rime-desktop.png");
    font-family: 'Mulish', sans-serif;
    margin-top: 58px;
    height: 500px;
    padding: 250px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white; 
}

.titular-promos-casarena{
    background: no-repeat center/100% url("../img/casarena-portada-dektop.png");
    font-family: 'Mulish', sans-serif;
    margin-top: 58px;
    height: 500px;
    padding: 250px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white; 
}

.titular-promos-copy{
    font-family: 'Mulish', sans-serif;
    font-size:1.5rem;
    padding-top: 120px;
}


.form-select{
    background-color: #cabea2;
    color: white;
    border-radius: 30px;
    border-color: white;
    width: 500px;
}

table{
    background: white;
    margin-top: 30px;
    margin-left: 5px;
    margin-right: 5px;
    font-family: 'Mulish', sans-serif;
}

td, th{
    padding: 10px;
}

.borde-izq{
    border-left: solid 1px black;
}

.borde-izq-1{
    border-left: solid 1px black;
    border-bottom: solid 1px black;
    border-radius: 0px 20px 0px 0px;
    background: #cabea2;
    color: white;
}

.borde-abajo{
    border-bottom: solid 1px black;
    border-radius: 20px 0px 0px 0px;
    background: #cabea2;
    color: white;
}
/* //////////////
   Bodegas
//////////////*/

.bodegas__Cabecera{
    background-image: url(/img/bodegas/vineyard-large.png);
    height: 700px;
    width: 100%;
    position: relative;
    top: 0;
    margin-bottom: 250px;
    filter:grayscale(40%);
    position: relative;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bodegas__Cabecera-content{
    height: 300px;
    width:  300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 380px;
    padding: 30px 20px 10px 20px;
    background: #fff;
    box-shadow: 0 10px 25px rgba(0,0,0, 0.2);
    border-radius: 20px;
}

.bodegas__Cabecera-icon{
    padding-top: 5px;
    color: black;
    margin-top: 60px;
    animation-name: bodegasanimation;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: 8;
}

@keyframes bodegasanimation {
0%   {
    color:black;
    transform: translateY(0px);
    }
50%   {
    color:#cabea2;  
    transform: translateY(10px);
    }
100% {
    color: black;
    transform: translateY(0);    
    }
}

.bodegas__Cabecera-title{
    font-family: 'Mulish';
    margin-top: 20px;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    margin-top: 15px;
    color: black;
}

 @media (max-width: 414px){
    .bodegas__Cabecera{
        background-image: url(/img/bodegas/vineyard-mobile.png);
        height: 300px;
        width: 100%;
        position: relative;
        top: 0;
        margin-bottom: 190px;
        filter:grayscale(40%);
        position: relative;
        z-index: 999;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .bodegas__Cabecera-content{
        height: 200px;
        width:  220px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        top: 200px;
        padding: 30px 20px 10px 20px;
        background: #fff;
        box-shadow: 0 10px 25px rgba(0,0,0, 0.2);
        border-radius: 20px;
    }

    .bodegas__Cabecera-title{
        font-family: 'Mulish';
        font-size: 1.5rem;
        font-weight: 400;
        text-align: center;
        margin-top: 15px;
    }

    .bodegas__Cabecera-icon{
        padding-top: 5px;
        color: black;
        margin-top: 20px;
        margin-bottom: 25px;
        animation-name: bodegasanimation;
        animation-duration: 1s;
        animation-fill-mode: both;
        animation-iteration-count: 8;
    }
}

.bodegas{
    padding: 70px 0 10px 0;
    height: auto;
    text-align: center;
}

.bodegas::before{
    content:'';
    position: fixed;
    top: 60px;
    left: 640px;
    width: 100%;
    height: 100%;
    background: url(/img/bodegas/uvas-sup-d-dektop-lareg-01.png) no-repeat;
    filter: opacity(0.25);
}

.bodegas::after{
    content:'';
    position: fixed;
    top: 400px;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/img/bodegas/vinos-inf-i-desktop-01.png) no-repeat;
    filter: opacity(0.25);
}

@media (min-width: 1700px){
     .bodegas::before{
        content:'';
        position: fixed;
        top: 60px;
        left: 1150px;
        width: 100%;
        height: 100%;
        background: url(/img/bodegas/uvas-sup-d-dektop-lareg-01.png) no-repeat;
        filter: opacity(0.25);
    }
    .bodegas::after{
        content:'';
        position: fixed;
        top: 280px;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(/img/bodegas/vinos-inf-i-desktop-large-01.png) no-repeat;
        filter: opacity(0.25);
    }
}

@media (max-width: 1030px){
    .bodegas::before{
        content:'';
        position: fixed;
        top: 60px;
        left: 300px;
        width: 100%;
        height: 100%;
        background: url(/img/bodegas/uvas-sup-d-dektop-lareg-01.png) no-repeat;
        filter: opacity(0.25);
    }
    .bodegas::after{
        content:'';
        position: fixed;
        top: 880px;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(/img/bodegas/vinos-inf-i-desktop-01.png) no-repeat;
        filter: opacity(0.25);
    }
}

@media (max-width: 414px){
    .bodegas{
        margin-top: 50px;
        padding: 40px 0 10px 0;
        height: auto;
        text-align: center;
    }
    .bodegas::before{
        content:'';
        position: fixed;
        top: 60px;
        left: 300px;
        width: 100%;
        height: 100%;
        background: url(/img/bodegas/uvas-sup-d-mobile-01.png) no-repeat;
        filter: opacity(0.25);
    }
    .bodegas::after{
        content:'';
        position: fixed;
        top: 520px;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(/img/bodegas/uvas-ab-i.png) no-repeat;
        filter: opacity(0.25);
    }
}

@media (max-width: 375px){
    .bodegas::before{
        content:'';
        position: fixed;
        top: 40px;
        left: 250px;
        width: 100%;
        height: 100%;
        background: url(/img/bodegas/uvas-sup-d-mobile-01.png) no-repeat;
        filter: opacity(0.25);
    }
    .bodegas::after{
        content:'';
        position: fixed;
        top: 590px;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(/img/bodegas/uvas-ab-i.png) no-repeat;
        filter: opacity(0.25);
    }
}

@media (max-width: 320px){
    .bodegas::before{
        content:'';
        position: fixed;
        top: 40px;
        left: 200px;
        width: 100%;
        height: 100%;
        background: url(/img/bodegas/uvas-sup-d-mobile-01.png) no-repeat;
    }
    .bodegas::after{
        content:'';
        position: fixed;
        top: 370px;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(/img/bodegas/uvas-ab-i.png) no-repeat;
    }
}

.bodegas__HorizontalScroll{
    width: auto;
    height: 300px;
    padding: 10px;
    white-space: nowrap;
    overflow-y: hidden; 
    overflow-x: auto;
    position: relative;
    z-index: 999;
}

.bodegas__HorizontalScroll-child{
    width: 250px;
    height: 250px;
    margin: 0 5px 0 5px;
    display: inline-block;
    background: #fff;
    box-shadow: 0 10px 25px rgba(0,0,0, 0.2);
    border-radius: 30px;
}

.bodegas__HorizontalScroll-child-img{
    width: 150px;
    height: 150px;
    transition: 0.5s ease-in-out;
}

.bodegas__HorizontalScroll-child:hover .bodegas__HorizontalScroll-child-img{
    transform: scale(1.2) ;
}

.bodegas__HorizontalScroll-child-title{
    font-family: 'Mulish', sans-serif;
    font-size: 1rem;
    border-bottom: 5px;
}

.bodegas__HorizontalScroll-child-link{
    width: 70px;
    height: 40px;
    color: #cabea2;
}

.bodegas__HorizontalScroll-child-link:hover{
    background-color: #cabea2;
    color: white;
    border-radius: 30px;
    padding: 5px;
}

/* ///////////////
    Quienes somos
    ///////////// */

.nosotros__Cabecera{
    background-image: url(/img/quienessomos-large);
    height: 700px;
    width: 100%;
    position: relative;
    top: 0;
    margin-bottom: 250px;
    filter:grayscale(40%);
    position: relative;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nosotros__Cabecera-content{
    height: 300px;
    width:  300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 380px;
    padding: 30px 20px 10px 20px;
    background: white;
    box-shadow: 0 10px 25px rgba(0,0,0, 0.2);
    border-radius: 20px;
}

.nosotros__Cabecera-icon{
    padding-top: 5px;
    color: black;
    margin-top: 60px;
    animation-name: bodegasanimation;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: 8;
}

@keyframes bodegasanimation {
0%   {
    color:black;
    transform: translateY(0px);
    }
50%   {
    color:#cabea2;  
    transform: translateY(10px);
    }
100% {
    color: black;
    transform: translateY(0);    
    }
}

.nosotros__Cabecera-title{
    font-family: 'Mulish';
    margin-top: 20px;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    margin-top: 15px;
    color: black;
}


.nosotros{
    position: relative;
    width: 100%;
    height: 60vh;
    margin-top: 400px;
    display: flex;
    justify-content: center;
    font-family: 'Mulish';
}

.nosotros__contenido{
    max-width: 80%;
    font-family: 'Mulish';
}

.nosotros__contenido h2{
    position: relative;
    margin: 0 0 5px 0;
    padding: 0;
    display: inline-block;
    font-size: 3em;
    transition: 0.5s;
    transform-origin: left;
    transform: scaleX(1);
}

.nosotros__contenido h2[data-scroll="in"]{
    transform: sacaleX(1);
}

.nosotros__contenido h2:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #cabea2;
    transform-origin: right;
    transition: 0.3s;
}

.nosotros__contenido h2[data-scroll="in"]:before{
    transform: scaleX(0);
    transition-delay: 0.3s;
}

.nosotros__contenido h3{
    position: relative;
    margin: 5px 0px 50px;
    padding: 0;
    font-size: 2em;
    transition: 0.5s;
    transform-origin: right;
    transform: scaleX(1);
}

.nosotros__contenido h3[data-scroll="in"]{
    transform: sacaleX(1);
    transition-delay: 1s;
}

.nosotros__contenido h3:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #cabea2;
    transform-origin: left;
    transition: 0.5s;
}

.nosotros__contenido h3[data-scroll="in"]:before{
    transform: scaleX(0);
    transition-delay: 0.2s;
}

.nosotros__contenido p{
    font-size: 1.2em;
    transition: 1s;
    opacity: 0;
    margin-bottom: 50px;
}

.nosotros__contenido p[data-scroll="in"]{
    opacity: 1;
    transition-delay: 1s;
}

.nosotros__contenido a {
    position: relative;
    background: #cabea2;
    color: #fff;
    padding: 15px 30px;
    font-size: 16px;
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    transition: 1s;
    transform: translateX(100px);
    opacity: 0;
}

.nosotros__contenido a[data-scroll="in"]{
    transform: translateX(0);
    transition-delay: 1s;
    opacity: 1;
}


/* //////////////
   Agradecimiento -QR
//////////////*/

.agradecimiento{
    height: 500px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* //////////////
   Footer
//////////////*/



.footer-container{
    position: relative;
    padding: 80px 0;
    text-align: center;
    color: white;
    background-color: rgb(129, 126, 126);
    margin-top: 50px;
    z-index: 999;
}

.quienessomos{
    position: relative;
    padding: 80px 0;
    top: 270px;
    text-align: center;
    color: white;
    background-color: rgb(146, 134, 134);
    z-index: 999;
}

.footer-menu{
    font-size: 1.5rem;
}

footer a {
    color: white;
}

footer a:hover {
    color: #cabea2;
}

footer small{
    position: relative;
    z-index: 999;
}
/* //////////////
   Media queries
//////////////*/

@media (max-width: 322px){
    .sub-titulo-txt{
        font-size: 0.9rem;
    }
}

/* //////////////
    Quienes Somos - Media queries
    //////////// */

@media (max-width: 416px){
    .nosotros{
        margin-top: 250px;
        display: flex;
        justify-content: center;
        font-family: 'Mulish';
    }
    .nosotros__contenido h2{
        font-size: 2em;
    }
    .nosotros__contenido h3{
        font-size: 1.5em;
    }
    .nosotros__contenido p{
        font-size: 1em;
    }
    .nosotros__Cabecera{
        background-image: url(/img/quienessomos-mobile);
        height: 300px;
        width: 100%;
        position: relative;
        top: 0;
        margin-bottom: 100px;
        position: relative;
        z-index: 999;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .nosotros__Cabecera-content{
        height: 200px;
        width:  200px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        top: 200px;
        padding: 30px 20px 10px 20px;
        background: #fff;
        box-shadow: 0 10px 25px rgba(0,0,0, 0.2);
        border-radius: 20px;
    }

    .nosotros__Cabecera-title{
        font-family: 'Mulish';
        font-size: 1.5rem;
        font-weight: 400;
        text-align: center;
        margin-top: 15px;
        color: black;
    }

    .nosotros__Cabecera-icon{
        padding-top: 5px;
        color: black;
        margin-top: 40px;
        animation-name: bodegasanimation;
        animation-duration: 1s;
        animation-fill-mode: both;
        animation-iteration-count: 8;
    }
}

@media (max-width: 769px){
    .portada-txt {
        font-size: 1.3rem;
        margin-top: 55px;
    }
    .portada-img{
        height: 250px;
    }
}


/* //////////////
    Promos - Page
    //////////// */

    /* Ipad pro */
@media (max-width: 1025px){
        .titular-promos-casarena{
            background: no-repeat center/100% url("../img/casarena-portada.png");
            font-family: 'Mulish', sans-serif;
            height: 550px;
            margin-top: 20px;
            margin-bottom: 30px;
            padding-top: 120px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white; 
        }

        .titular-promos-rime{
            background: no-repeat center/100% url("../img/rime-mobile.png");;
            font-family: 'Mulish', sans-serif;
            height: 550px;
            margin-top: 20px;
            margin-bottom: 30px;
            padding-top: 120px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white; 
        }

        .titular-promos-canale{
            background: no-repeat center/100% url("../img/canale-mobile.png");;
            font-family: 'Mulish', sans-serif;
            height: 550px;
            margin-top: 20px;
            margin-bottom: 30px;
            padding-top: 120px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white; 
        }

        .titular-promos-copy{
            font-size: 1.2rem;
            text-align: center;
        }
        .form-select{
            width: 350px;
            margin-left: 15px;
            margin-top: 10px;
            position: relative;
            top: 0px;
        }
    }
    /* iPad */
@media (max-width: 769px){
    .titular-promos-casarena{
        background: no-repeat center/100% url("../img/casarena-portada.png");
        font-family: 'Mulish', sans-serif;
        height: 400px;
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white; 
    }

    .titular-promos-rime{
        background: no-repeat center/100% url("../img/rime-mobile.png");;
        font-family: 'Mulish', sans-serif;
        height: 400px;
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white; 
    }

    .titular-promos-canale{
        background: no-repeat center/100% url("../img/canale-mobile.png");;
        font-family: 'Mulish', sans-serif;
        height: 400px;
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white; 
    }

    .titular-promos-copy{
        font-size: 1.2rem;
        text-align: center;
        margin-top: 30px;
    }
    .form-select{
        width: 350px;
        margin-left: 15px;
        margin-top: 10px;
        position: relative;
        top: 30px;
    }
}

/* Iphone 7/8/9 Plus */
@media (max-width: 415px){
    .titular-promos-casarena{
        background: no-repeat center/100% url("../img/casarena-portada.png");
        font-family: 'Mulish', sans-serif;
        height: 200px;
        margin-top: 50px;
        margin-bottom: 20px;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white; 
    }

    .titular-promos-rime{
        background: no-repeat center/100% url("../img/rime-mobile.png");
        font-family: 'Mulish', sans-serif;
        height: 200px;
        margin-top: 50px;
        margin-bottom: 20px;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white; 
    }

    .titular-promos-canale{
        background: no-repeat center/100% url("../img/canale-mobile.png");
        font-family: 'Mulish', sans-serif;
        height: 200px;
        margin-top: 50px;
        margin-bottom: 20px;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white; 
    }

    .titular-promos-copy{
        font-size: 1.2rem;
        text-align: center;
        margin-top: 0px;
    }
    .form-select{
        width: 350px;
        margin-left: 15px;
        margin-top: 15px;
        position: relative;
        top: 10px;
    }
}

/* Iphone X-11-12 común y 6/7/8 común  */
@media (max-width: 376px){
    .titular-promos-casarena{
        background: no-repeat center/100% url("../img/casarena-portada.png");
        font-family: 'Mulish', sans-serif;
        height: 200px;
        margin-top: 45px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white; 
    }

    .titular-promos-rime{
        background: no-repeat center/100% url("../img/rime-mobile.png");
        font-family: 'Mulish', sans-serif;
        height: 200px;
        margin-top: 40px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white; 
    }

    .titular-promos-canale{
        background: no-repeat center/100% url("../img/canale-mobile.png");
        font-family: 'Mulish', sans-serif;
        height: 200px;
        margin-top: 40px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white; 
    }

    .titular-promos-copy{
        font-size: 1.2rem;
        text-align: center;
        padding-top: 125px;
    }
    .form-select{
        width: 350px;
        margin-top: 5px;
        margin-left: 10px;
        position: relative;
        bottom: 5px;
        top: 0px;
    }
}

/* iPhone 5 */
@media (max-width: 320px){
    .titular-promos-casarena{
        background: no-repeat center/100% url("../img/casarena-portada.png");
        font-family: 'Mulish', sans-serif;
        height: 200px;
        margin-top: 30px;
        margin-bottom: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white; 
    }

    .titular-promos-rime{
        background: no-repeat center/100% url("../img/rime-mobile.png");
        font-family: 'Mulish', sans-serif;
        height: 200px;
        margin-top: 30px;
        margin-bottom: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white; 
    }

    .titular-promos-canale{
        background: no-repeat center/100% url("../img/canale-mobile.png");
        font-family: 'Mulish', sans-serif;
        height: 200px;
        margin-top: 30px;
        margin-bottom: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white; 
    }

    .titular-promos-copy{
        font-size: 1rem;
        text-align: center;
        padding-top: 125px;
        margin-top: 0px;
    }
    .form-select{
        width: 250px;
        margin-top: 5px;
        margin-left: 10px;
        position: relative;
        bottom: 10px;
    }
}

/* //////////////
    Footer - Quienes Somos
    //////////// */
    @media (max-width: 1444px){
        .quienessomos{
            margin-top: 40px;
            top: 480px;
        }
    }

    @media (max-width: 769px){
        .quienessomos{
            margin-top: 40px;
            top: 600px;
        }
    }
    
    @media (max-width: 415px){
        .quienessomos{
            position: relative;
            top: 900px;
            padding: 80px 0;
            text-align: center;
            color: white;
            background-color: rgb(146, 134, 134);
        }
    }

    @media (max-width: 560px){
        .quienessomos{
            position: relative;
            top: 1000px;
            padding: 80px 0;
            text-align: center;
            color: white;
            background-color: rgb(146, 134, 134);
        }
    }

    @media (max-width: 321px){
        .quienessomos{
            position: relative;
            top: 1230px;
            padding: 80px 0;
            text-align: center;
            color: white;
            background-color: rgb(146, 134, 134);
        }
    }
    
    @media (max-width: 575.98px) { 
        .footer-menu { 
            display: block !important;
            padding: 20px 0 !important;
            font-size: 20px;
        }
    
        footer .list-inline .list-inline-item {
            padding: 5px 10px;
        }
    
        .footer-logo{
            width: 250px;
            height: 70px;
        }
    }