body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* //////////////
   NAVBAR
//////////////*/

.navbar{
    font-family: 'Mulish', sans-serif;
    border-bottom: solid 2px #ffac44;
}

.logo-navbar{
    width: 150px;
    height: 40px;
}

/* //////////////
   Header
//////////////*/

.portada{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Mulish', sans-serif;
    font-weight: 900;
}

.portada-img{
    position: relative;
    width: 100%;
    filter: brightness(0.4);
}

.portada-txt{
    position: absolute;
    color: white;
    font-size: 3.5rem;
    animation-name: animar;
    animation-duration: 5s;
    animation-timing-function: ease-out;
}

@keyframes animar {
    0%   {
        color:#ffac44;
    }
    100% {color: #fafafa;}
}

/* //////////////
   Promos
//////////////*/

.promos{
    font-family: 'Mulish', sans-serif;
    margin: 30px 15px 0px 15px;
}

.col-md-3{
     margin: 15px 0px 15px 0px; 
}

.btn{
    background: #ffac44;
}

/* //////////////
   Subtitulo
//////////////*/

.sub-titulo{
    height: 180px;
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sub-titulo-txt{
    color: black;
    font-family: 'Mulish', sans-serif;
    font-size: 2rem;
}

.sub-titulo-icon{
    padding-top: 5px;
    color: black;
    animation-name: iconanimation;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: 5;
}

@keyframes iconanimation {
0%   {
    color:black;
    transform: translateY(0px);
    }
50%   {
    color:#ffac44;  
    transform: translateY(10px);
    }
100% {
    color: black;
    transform: translateY(0);    
    }
}


@media (max-width: 769px) {
    .sub-titulo{
        height: 110px;
    }
    .sub-titulo-txt{
        font-size: 1rem;
    }
}

/* //////////////
   Promos
//////////////*/

.titular-promos-canale{
    background: no-repeat center/100% url("../img/canale-desktop.png");
    font-family: 'Mulish', sans-serif;
    margin-top: 58px;
    height: 500px;
    padding: 250px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white; 
}

@media (max-width: 769px){
    .titular-promos-canale{
        background: no-repeat center/100% url("../img/canale-mobile.png");
        font-family: 'Mulish', sans-serif;
        margin-top: 55px;
        margin-bottom: 30px;
        height: 200px;
        padding: 15px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white; 
    }
}

.titular-promos-rime{
    background: no-repeat center/100% url("../img/rime-desktop.png");
    font-family: 'Mulish', sans-serif;
    margin-top: 58px;
    height: 500px;
    padding: 250px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white; 
}

@media (max-width: 769px){
    .titular-promos-rime{
        background: no-repeat center/100% url("../img/rime-mobile.png");
        font-family: 'Mulish', sans-serif;
        margin-top: 55px;
        margin-bottom: 30px;
        height: 200px;
        padding: 15px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white; 
    }
}

.titular-promos-casarena{
    background: no-repeat center/100% url("../img/casarena-portada-dektop.png");
    font-family: 'Mulish', sans-serif;
    margin-top: 58px;
    height: 500px;
    padding: 250px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white; 
}

@media (max-width: 769px){
    .titular-promos-casarena{
        background: no-repeat center/100% url("../img/casarena-portada.png");
        font-family: 'Mulish', sans-serif;
        margin-top: 55px;
        margin-bottom: 30px;
        height: 200px;
        padding: 15px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white; 
    }
}

.titular-promos-copy{
    font-family: 'Mulish', sans-serif;
    font-size:1.5rem;
    padding-top: 120px;
}


.form-select{
    background-color: #ffac44;
    color: white;
    border-radius: 30px;
    border-color: white;
    width: 500px;
}

table{
    background: white;
    margin-top: 30px;
    margin-left: 5px;
    margin-right: 5px;
    font-family: 'Mulish', sans-serif;
}

td, th{
    padding: 10px;
}

.borde-izq{
    border-left: solid 1px black;
}

.borde-izq-1{
    border-left: solid 1px black;
    border-bottom: solid 1px black;
    border-radius: 0px 20px 0px 0px;
    background: #ffac44;
    color: white;
}

.borde-abajo{
    border-bottom: solid 1px black;
    border-radius: 20px 0px 0px 0px;
    background: #ffac44;
    color: white;
}
/* //////////////
   Bodegas
//////////////*/

.bodegas__Cabecera{
    background-image: url(/img/bodegas/vineyard-large.png);
    height: 700px;
    width: 100%;
    position: relative;
    top: 0;
    margin-bottom: 250px;
    filter:grayscale(40%);
    position: relative;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bodegas__Cabecera-content{
    height: 400px;
    width:  500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 370px;
    padding: 30px 20px 10px 20px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 10px 25px rgba(0,0,0, 0.2);
    backdrop-filter: blur(15px);
    border-radius: 20px;
}

.bodegas__Cabecera-icon{
    padding-top: 5px;
    color: black;
    margin-top: 60px;
    animation-name: bodegasanimation;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: 8;
}

@keyframes bodegasanimation {
0%   {
    color:black;
    transform: translateY(0px);
    }
50%   {
    color:#ffac44;  
    transform: translateY(10px);
    }
100% {
    color: black;
    transform: translateY(0);    
    }
}

.bodegas__Cabecera-title{
    font-family: 'Mulish';
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    margin-top: 15px;
    color: #ffac44;
}

 @media (max-width: 414px){
    .bodegas__Cabecera{
        background-image: url(/img/bodegas/vineyard-mobile.png);
        height: 300px;
        width: 100%;
        position: relative;
        top: 0;
        margin-bottom: 190px;
        filter:grayscale(40%);
        position: relative;
        z-index: 999;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .bodegas__Cabecera-content{
        height: 300px;
        width:  200px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        top: 200px;
        padding: 30px 20px 10px 20px;
        background: rgba(255, 255, 255, 0.2);
        box-shadow: 0 10px 25px rgba(0,0,0, 0.2);
        backdrop-filter: blur(15px);
        border-radius: 20px;
    }

    .bodegas__Cabecera-content-img{
        position: relative;
        height: 70%;
        width: 70%;
        margin-bottom: 30px;
    }

    .bodegas__Cabecera-title{
        font-family: 'Mulish';
        font-size: 1.5rem;
        font-weight: 400;
        text-align: center;
        margin-top: 15px;
        color: #ffac44;
    }

    .bodegas__Cabecera-icon{
        padding-top: 5px;
        color: black;
        margin-top: 40px;
        animation-name: bodegasanimation;
        animation-duration: 1s;
        animation-fill-mode: both;
        animation-iteration-count: 8;
    }
}

.bodegas{
    padding: 70px 0 10px 0;
    height: auto;
    text-align: center;
}

.bodegas::before{
    content:'';
    position: fixed;
    top: 60px;
    left: 640px;
    width: 100%;
    height: 100%;
    background: url(/img/bodegas/uvas-sup-d-dektop-lareg-01.png) no-repeat;
}

.bodegas::after{
    content:'';
    position: fixed;
    top: 400px;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/img/bodegas/vinos-inf-i-desktop-01.png) no-repeat;
}

@media (min-width: 1700px){
     .bodegas::before{
        content:'';
        position: fixed;
        top: 60px;
        left: 1150px;
        width: 100%;
        height: 100%;
        background: url(/img/bodegas/uvas-sup-d-dektop-lareg-01.png) no-repeat;
    }
    .bodegas::after{
        content:'';
        position: fixed;
        top: 280px;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(/img/bodegas/vinos-inf-i-desktop-large-01.png) no-repeat;
    }
}

@media (max-width: 1030px){
    .bodegas::before{
        content:'';
        position: fixed;
        top: 60px;
        left: 300px;
        width: 100%;
        height: 100%;
        background: url(/img/bodegas/uvas-sup-d-dektop-lareg-01.png) no-repeat;
    }
    
    .bodegas::after{
        content:'';
        position: fixed;
        top: 880px;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(/img/bodegas/vinos-inf-i-desktop-01.png) no-repeat;
    }
}


@media (max-width: 414px){
    .bodegas{
        margin-top: 50px;
        padding: 40px 0 10px 0;
        height: auto;
        text-align: center;
    }

    .bodegas::before{
        content:'';
        position: fixed;
        top: 60px;
        left: 300px;
        width: 100%;
        height: 100%;
        background: url(/img/bodegas/uvas-sup-d-mobile-01.png) no-repeat;
    }
    .bodegas::after{
        content:'';
        position: fixed;
        top: 520px;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(/img/bodegas/uvas-ab-i.png) no-repeat;
    }
}

@media (max-width: 375px){

    .bodegas::before{
        content:'';
        position: fixed;
        top: 40px;
        left: 250px;
        width: 100%;
        height: 100%;
        background: url(/img/bodegas/uvas-sup-d-mobile-01.png) no-repeat;
    }
    .bodegas::after{
        content:'';
        position: fixed;
        top: 590px;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(/img/bodegas/uvas-ab-i.png) no-repeat;
    }
}

@media (max-width: 320px){

    .bodegas::before{
        content:'';
        position: fixed;
        top: 40px;
        left: 200px;
        width: 100%;
        height: 100%;
        background: url(/img/bodegas/uvas-sup-d-mobile-01.png) no-repeat;
    }
    .bodegas::after{
        content:'';
        position: fixed;
        top: 370px;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(/img/bodegas/uvas-ab-i.png) no-repeat;
    }
}

.bodegas__HorizontalScroll{
    width: auto;
    height: 280px;
    padding: 10px;
    white-space: nowrap;
    overflow-y: hidden; 
    overflow-x: auto;
    position: relative;
    z-index: 999;
}

.bodegas__HorizontalScroll-child{
    width: 250px;
    height: 250px;
    margin: 0 5px 0 5px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 10px 25px rgba(0,0,0, 0.2);
    backdrop-filter: blur(15px);
    border-radius: 30px;
}

.bodegas__HorizontalScroll-child-img{
    width: 150px;
    height: 150px;
    transition: 0.5s ease-in-out;
}

.bodegas__HorizontalScroll-child:hover .bodegas__HorizontalScroll-child-img{
    transform: scale(1.2) ;
}

.bodegas__HorizontalScroll-child-title{
    font-family: 'Mulish', sans-serif;
    font-size: 1rem;
    border-bottom: 5px;
}

.bodegas__HorizontalScroll-child-link{
    width: 70px;
    height: 40px;
    color: #ffac44;
}

.bodegas__HorizontalScroll-child-link:hover{
    background-color: #ffac44;
    color: white;
    border-radius: 30px;
    padding: 5px;
}



/* //////////////
   Agradecimiento
//////////////*/

.agradecimiento{
    height: 500px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* //////////////
   Footer
//////////////*/

footer {
    padding: 80px 0;
    text-align: center;
    color: white;
    background-color: rgb(146, 134, 134);
    margin-top: 50px;
}

.footer-menu{
    font-size: 1.5rem;
}

footer a {
    color: white;
}

footer a:hover {
    color: #ffac44;
}

footer small{
    position: relative;
    z-index: 999;
}

footer .container{
    position: relative;
    z-index: 999;
}


/* //////////////
   Media queries
//////////////*/

@media (max-width: 575.98px) { 
    .footer-menu { 
        display: block !important;
        padding: 20px 0 !important;
        font-size: 20px;
    }

    footer .list-inline .list-inline-item {
        padding: 5px 10px;
    }

    .footer-logo{
        width: 250px;
        height: 70px;
    }
}

@media (max-width: 769px){
    .portada-txt {
        font-size: 1.3rem;
        margin-top: 55px;
    }
    .portada-img{
        height: 250px;
    }
}

@media (max-width: 1025px){
    .form-select{
        width: 350px;
        margin-left: 300px;
        margin-top: 20px;
    }
}

@media (max-width: 575px){
    .titular-promos-copy{
        font-size: 1.2rem;
    }
    .form-select{
        width: 350px;
        margin-left: 15px;
        margin-top: 20px;
    }
}