body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* //////////////
   NAVBAR
//////////////*/

.navbar{
    font-family: 'Mulish', sans-serif;
    border-bottom: solid 2px #ffac44;
}

.logo-navbar{
    width: 150px;
    height: 40px;
}

/* //////////////
   Header
//////////////*/

.portada{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Mulish', sans-serif;
    font-weight: 900;
}

.portada-img{
    position: relative;
    width: 100%;
    filter: brightness(0.4);
}

.portada-txt{
    position: absolute;
    color: white;
    font-size: 3.5rem;
    animation-name: animar;
    animation-duration: 5s;
    animation-timing-function: ease-out;
}

@keyframes animar {
    0%   {
        color:#ffac44;
    }
    100% {color: #fafafa;}
}

/* //////////////
   Promos
//////////////*/

.promos{
    font-family: 'Mulish', sans-serif;
    margin: 30px 15px 0px 15px;
}

.col-md-3{
     margin: 15px 0px 15px 0px; 
}

.btn{
    background: #ffac44;
}

/* //////////////
   Subtitulo
//////////////*/

.sub-titulo{
    height: 180px;
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sub-titulo-txt{
    color: black;
    font-family: 'Mulish', sans-serif;
    font-size: 2rem;
}

.sub-titulo-icon{
    padding-top: 5px;
    color: black;
    animation-name: iconanimation;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: 5;
}

@keyframes iconanimation {
0%   {
    color:black;
    transform: translateY(0px);
    }
50%   {
    color:#ffac44;  
    transform: translateY(10px);
    }
100% {
    color: black;
    transform: translateY(0);    
    }
}


@media (max-width: 769px) {
    .sub-titulo{
        height: 110px;
    }
    .sub-titulo-txt{
        font-size: 1rem;
    }
}

/* //////////////
   Promos
//////////////*/

.titular-promos{
    font-family: 'Mulish', sans-serif;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titular-promos-copy{
    font-family: 'Mulish', sans-serif;
    font-size:1.5rem;
    margin-top: 30px;
}


.form-select{
    background-color: #ffac44;
    color: white;
    border-radius: 30px;
    width: 350px;
    margin-top: 20px;
}

table{
    background: white;
    margin-top: 30px;
    margin-left: 5px;
    margin-right: 5px;
    font-family: 'Mulish', sans-serif;
}

td, th{
    padding: 10px;
}

.borde-izq{
    border-left: solid 1px black;
}

.borde-izq-1{
    border-left: solid 1px black;
    border-bottom: solid 1px black;
    border-radius: 0px 20px 0px 0px;
    background: #ffac44;
    color: white;
}

.borde-abajo{
    border-bottom: solid 1px black;
    border-radius: 20px 0px 0px 0px;
    background: #ffac44;
    color: white;
}

/* //////////////
   Agradecimiento
//////////////*/

.agradecimiento{
    height: 500px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* //////////////
   Footer
//////////////*/

footer {
    padding: 80px 0;
    text-align: center;
    color: white;
    background-color: rgb(146, 134, 134);
}

footer a {
    color: white;
}

footer a:hover {
    color: #ffac44;
}

footer .list-inline .list-inline-item {
    padding: 10px 15px;
}

/* //////////////
   Media queries
//////////////*/

@media (max-width: 575.98px) { 
    .footer-menu { 
        display: block !important;
        padding: 20px 0 !important;
        font-size: 20px;
    }

    footer .list-inline .list-inline-item {
        padding: 5px 10px;
    }

    .footer-logo{
        width: 250px;
        height: 70px;
    }
}

@media (max-width: 769px){
    .portada-txt {
        font-size: 1.3rem;
        margin-top: 55px;
    }
    .portada-img{
        height: 250px;
    }
}

@media (max-width: 1025px){
    .form-select{
        width: 350px;
        margin-left: 300px;
        margin-top: 20px;
    }
}

@media (max-width: 575px){
    .titular-promos-copy{
        font-size: 1.2rem;
    }
    .form-select{
        width: 350px;
        margin-left: 15px;
        margin-top: 20px;
    }
}